.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.search form {
  position: relative;
  margin: 0 auto;
}
.search {
  position: relative;
  margin-top: 40px;
}
.search-area {
  margin-top: 20px;
  width: 93%;
  height: 32px;
  padding-left: 20px;
  border: 2px solid #7ba7ab;

  border-radius: 10px;
  outline: none;
  background: #f9f0da;
  color: black;
  font-size: 16px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.search-input {
  margin-top: 20px;
  width: 93%;
  height: 42px;
  padding-left: 20px;
  border: 2px solid #7ba7ab;

  border-radius: 10px;
  outline: none;
  background: #f9f0da;
  color: black;
  font-size: 16px;
}
.search button {
  margin-top: 20px;
  width: 100%;
  height: 42.5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  background: rgb(178, 233, 120);
}
.search button:active {
  outline: none;
  background: rgb(131, 233, 21);
}
.search button:hover {
  background: rgb(154, 232, 70);
}
.search button:focus {
  outline: none;
}
.answerField {
  margin-top: 40px;
  padding: 20px;
  /* border: 1px solid gray; */
  border-radius: 10px;
}
.radio-field {
  display: flex;
  flex-direction: column;

  width: 350px;
}
.radio-field-wrapper {
  width: 100%;
  display: flex;
  border-radius: 10px;
  justify-content: center;
}

.form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.radio-fieldset {
  border: 2px solid #7ba7ab;
  background: #f9f0da;
  border-radius: 10px;
  outline: none;
}
